*
{
    margin: 0;
    padding: 0;
}


body
{
    background-color: #F6E5DC;
    font-family: Tahoma;
}


header
{
    color: white;
    background-color: #2F180C;
    height: 60px;
    text-align: center;
}

footer
{
    background-color: #2F180C;
    color: white;
    height: 60px;
}
