Options +Indexes
IndexOptions +FancyIndexing
IndexOptions +HTMLTable
IndexOptions +FoldersFirst
IndexOptions +IconsAreLinks
IndexOptions +IgnoreCase
IndexOptions +NameWidth=*
IndexOptions +SuppressHTMLPreamble
IndexOptions +SuppressDescription

HeaderName /HEADER.html
ReadmeName /FOOTER.html

# Ukryj pliki konfiguracyjne i katalogi Git
IndexIgnore .htaccess HEADER.html FOOTER.html .git .github .gitignore .gitattributes

# Opcjonalnie: Zablokuj całkowicie dostęp do katalogów .git i .github
<DirectoryMatch "^/.*(\.git|\.github)">
    Require all denied
</DirectoryMatch>