body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5c5c5c;
}

header {
    background-color: #7fb238;
    padding: 15px;
    text-align: center;
}

header p {
    font-size: 1cm;
    margin: 10px;
    color: #fff;
}

nav {
    display: flex;
    justify-content: center;
}

nav > a {   
    text-decoration: none;
    color: #fff;
    background-color: #7e5835;
    margin-left: 5px;
    padding: 15px;
    
}

nav a:hover {
    background-color: #8b8b8b;
}

section {
    background-color: #8b8b8b;
    margin: 20px;
    padding: 15px;
    color: white;
}

section a {
    font-size: 1.5em;
    color: #fff;
}

ul {
    padding-left: 25px;
}

li {
    margin-bottom: 5px;
}

.bloki-lista {
    display: flex;
    justify-content: left;
}

.blok {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin-right: 10px;
}

.dirt {
    background-color: #593d29;
    border: 2px solid #3d2a1c;
}

.kamien {
    background-color: #8b8b8b;
    border: 2px solid #696969;
}

.drewno {
    background-color: #9b7653;
    border: 2px solid #6e5438;
}

footer {
    background-color: #1d1d1d;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 8px 0;
    color: white;
}