*
{
    margin: 0;
    padding: 0;
}

header
{
    background-color: #006cff;
    color: white;
    padding: 10px;
}

.formularz
{
    margin: 100px
}

form
{
    font-size: 20px;
    margin: 10px;
}

label
{
    display: inline-block;
    width: 250px;
}

input[type="text"]
{
    padding: 5px;
    border: 1px solid #006cff;
    border-radius: 5px;
    width: 300px;
    margin-left: 0;
}
