body
{
    background-image: url("pobrane.jpg");
    background-size: cover;
}

a
{
    color: white;
    text-decoration: none;
}

.menu
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li
{
    margin-left: 20px;
    font-size: 30px;
    display: block;
}

.menu li a
{
    color: white;
    display: block;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 2px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu:hover li a
{
    text-shadow: 1px 1px 1px white;
}

.menu li a:hover
{
    color: #29ffd3;
    text-shadow: 0px 0px 1px white;
    padding-left: 10px;
}