name:  Aktualizowanie strony przez Tailscale

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      TS_TAG: tag:github-actions
      REMOTE_USER: github-actions
      REMOTE_HOSTNAME: vps   # nazwa node'a w Tailscale, np. "prod-1"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Tailscale Setup - Połączenie do Tailnet'u
        uses: tailscale/github-action@v3
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_CLIENT_SECRET }}
          tags: ${{ env.TS_TAG }}

      - name: Połączenie przez ssh jako github-actions
        run: |
          ssh ${{ env.REMOTE_USER }}${{ env.REMOTE_HOSTNAME }}
